In [2]:
import pandas as pd

In [23]:
#read tremo dataset
tremopath = '/Users/pinarayaz/Jupyter/NLP/data/tremo.csv'
tremo_df = pd.read_csv(tremopath)
tremo_df[:10]

                                               Entry ValidatedEmotion
0                          her yeni gün bir mutluluk            Happy
1  gece kimsenin olmadığı sokaklardan geçerken ço...             Fear
2                           gerçekleşemeyen hayaller          Sadness
3                      arkadaş kaybetmek beni üzüyor          Sadness
4       insanların çıkarcı olmalarından tiksiniyorum          Disgust
5  hiç beklemediğim anda sürprizle karşılaşmak be...         Surprise
6            Ailemle tatile çıktığımda çok sevindim.            Happy
7  Rüyamda babamın öldüğünü gördüğümde çok korkmu...             Fear
8  Daha taksiti bitmemiş bilgisayarımı ben uyurke...            Anger
9          Annemin üzüldüğünü gördüğümde üzülüyorum.          Sadness

In [8]:
tremo_df = tremo_df[tremo_df.ValidatedEmotion != 'Ambigious']

In [20]:
tremo_df = tremo_df.drop(['Unnamed: 0'], axis=1)

In [12]:
#get sample count of each class
tremo_df.ValidatedEmotion.value_counts()

Happy       5229
Sadness     5021
Anger       4723
Fear        4393
Disgust     3620
Surprise    3003
Name: ValidatedEmotion, dtype: int64

In [22]:
tremo_df.to_csv(tremopath, index=False)

In [27]:
reviewspath = '/Users/pinarayaz/Jupyter/NLP/data/reviews_deasciified.csv'
reviews_df = pd.read_csv(reviewspath)
reviews_df.head()

                                              Review  Rating Sentiment
0                            nicholson gene harika       4.0  positive
1  mükemmel derece kötü diyen arkadaşın sinema bi...     5.0  positive
2  mükemmel derecede kötü bi film hep biselerin o...     1.0  negative
3  nasıl beğendiğinizi anlamıyorum bu filmi filmd...     1.5  negative
4  ok harika bir film senaryo gereğinden fazla ol...     5.0  positive

In [14]:
sentiment = []
for num in reviews_df['Rating']:
    if(num < 3.0):
        sentiment.append("negative")
    else:
        sentiment.append("positive")

reviews_df['Sentiment'] = sentiment
reviews_df.head()

                                              Review  Rating Sentiment
0                            nicholson gene harika       4.0  positive
1  mükemmel derece kötü diyen arkadaşın sinema bi...     5.0  positive
2  mükemmel derecede kötü bi film hep biselerin o...     1.0  negative
3  nasıl beğendiğinizi anlamıyorum bu filmi filmd...     1.5  negative
4  ok harika bir film senaryo gereğinden fazla ol...     5.0  positive

In [26]:
reviews_df.to_csv(reviewspath, index=False)

In [16]:
reviews_df.Sentiment.value_counts()

positive    24536
negative    10454
Name: Sentiment, dtype: int64

In [17]:
reviews_df.Rating.value_counts()

4.0    9629
2.5    5379
5.0    5226
3.5    4172
4.5    2777
3.0    2732
1.0    1824
0.0    1408
2.0    1167
1.5     676
Name: Rating, dtype: int64

In [18]:
tweetspath = '/Users/pinarayaz/Jupyter/NLP/data/tweets_deasciified.csv'
tweets_df = pd.read_csv(tweetspath)
tweets_df.head()

                                               Tweet Sentiment
0  Ulan Wifi'ye bağlıyım ben. Ona bağlıyken Türkc...   olumsuz
1  20 dk 1 GB internet 500 mb sadece kaşar türkce...   olumsuz
2  Ayrıca türkcell superonline reklamı kadar da k...   olumsuz
3                             Türkcell çok pahalı ya   olumsuz
4                Türkcell Kaş'ta internetin çekmiyor   olumsuz

In [19]:
tweets_df.Sentiment.value_counts()

olumsuz    6888
notr       5822
olumlu     4579
Name: Sentiment, dtype: int64

In [3]:
#read twt dataset
twtpath = '/Users/pinarayaz/Jupyter/NLP/data/twt.csv'
twt_df = pd.read_csv(twtpath)
twt_df[:10]

                                               Tweet     Label
0  Kız nutellayı o kadar çok abartıyo ki sosyal m...  negative
1                   ooooo dedikodu, alırım bi dal :(  negative
2                                           keşke :(  negative
3       RT : Bıkmayacaksın :) http://t.co/lmCqMPExbd  positive
4  RT : whatsapp grubuna gelecekler favlasın muha...  positive
5                           Bebeğim çalışıyorum :(    negative
6                              vasip şahin candır :D  positive
7  Bu komsular modemi niye gec aciyorlar ya mk :(...  negative
8                                ahhhh ketek uler :(  negative
9  RT : Yedi Güzel Adam yeni Günü'nde yeni saatin...  positive

In [4]:
#get sample count of each class
twt_df.Label.value_counts()

negative    16000
positive    16000
Name: Label, dtype: int64